{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Latidos e Miados Perdidos</h1>
    <p class="lead">Nos ajudamos secretarias municipais e ONGs da causa animal nas cidades de Jau e Dois Corregos a encontrar animais perdidos e reunir familias.</p>
    <img src="{{ url_for('static', filename='cao-e-gato.png') }}" alt="Imagem de um cao e um gato" class="img-responsive" style="max-width: 300px;">
    <p><a href="#" class="btn btn-primary btn-large">Reportar um animal perdido/encontrado</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Animais perdidos/encontrados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Raca</th>
                    <th>Descricao</th>
                    <th>Contato</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fido</td>
                    <td>Labrador Retriever</td>
                    <td>Perdido na rua Sao Paulo</td>
                    <td>jane@example.com</td>
                </tr>
                <tr>
                    <td>Max</td>
                    <td>German Shepherd</td>
                    <td>Encontrado no parque do jardim das flores</td>
                    <td>john@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Como funciona</h2>
        <p>
            Quando um animal e perdido ou encontrado, e importante agir rapidamente para aumentar as chances de reunir a familia. Com o nosso website, voce pode reportar um animal perdido/encontrado e acessar uma lista de animais que ja foram registrados.
        </p>
        <p><a class="btn btn-default" href="#">Saiba mais &raquo;</a></p>
    </div>
</div>

{% endblock %}
