{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Latidos e Miados Perdidos</h1>
    <p class="lead">Nos ajudamos secretarias municipais e ONGs da causa animal nas cidades de Jau e Dois Corregos a encontrar animais perdidos e reunir familias.</p>
    <img src="{{ url_for('static', filename='cao-e-gato.png') }}" alt="Imagem de um cao e um gato" class="img-responsive" style="max-width: 300px;">
    <p><a href="{{ url_for('formpet') }}" class="btn btn-primary btn-large">Reportar um animal perdido/encontrado</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Animais perdidos ou encontrados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Raca</th>
                    <th>Descricao</th>
                    <th>Foto</th>
                    <th>Contato</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in pets %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.breed }}</td>
                    <td>{{ pet.description }}</td>
                    <td><a href="#pet{{ pet.id }}" data-toggle="modal"><img src="{{ url_for('static', filename=pet.photo) }}" alt="Foto do {{ pet.name }}" style="max-width: 100px; max-height: 100px;"></a></td>
                    <td>{{ pet.contact }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Como funciona</h2>
        <p>
            Quando um animal e perdido ou encontrado, e importante agir rapidamente para aumentar as chances de reunir a familia. Com o nosso website, voce pode reportar um animal perdido/encontrado e acessar uma lista de animais que ja foram registrados.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('about') }}">Saiba mais &raquo;</a></p>
    </div>
</div>


{% for pet in pets %}
<div class="modal fade" id="pet{{ pet.id }}" tabindex="-1" role="dialog" aria-labelledby="pet{{ pet.id }}-label">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pet{{ pet.id }}-label">{{ pet.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ url_for('static', filename=pet.photo) }}" alt="Foto do {{ pet.name }}" style="max-width: 450px; max-height: 500px;">
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
