{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>
    Ola, somos os idealizadores desse website. Esse website foi desenvolvido utilizando as tecnologias Python, Web Framework Flask, banco de dados SQLite
    para a disciplina de Projeto Integrador II da UNIVESP, Polos Bocaina, Dois Corregos, Mineiros do Tiete e Pirajui. O codigo esta disponivel no
    <a href="https://github.com/Nilo-Univesp/vagas-emprego">repositorio do GitHub</a>.
</p>

{% endblock %}
